:root{
    font-family: "Trebuchet MS";
    --Background : #171621;
    --Primary: #c9c9c9;
    --Secondary:  #201e2a;
    --Accent: #4f63eb;
    --Text-Color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background: var(--Background);
    color: var(--Text-Color);
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: 0;
}

/*____ Classes ____*/